# Node.js / Next.js
node_modules/
.next/
out/
dist/
build/
*.log
npm-debug.log*
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/*.db

# Testing
coverage/
test-results/
playwright-report/
playwright/.cache/

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
*.swp
